<div class="container mx-auto text-white text-sm px-2 lg:px-0 rounded-lg">
  <div class="bg-[#353950] py-4 px-4 sm:py-6 sm:px-8 lg:py-8 lg:px-12 rounded-lg">
    <div class="flex flex-col lg:flex-row lg:justify-between lg:items-center gap-4 lg:gap-0">
      <div class="text-2xl lg:text-3xl">Subscribe to Newsletter</div>
      <div class="flex flex-col min-[420px]:flex-row items-stretch sm:items-center gap-2 sm:gap-0 w-full lg:w-auto">
        <input
          type="email"
          placeholder="Enter your email"
          class="px-4 py-2 sm:rounded-l-md rounded-md sm:rounded-r-none focus:outline-none text-black flex-1 lg:flex-none lg:w-64">
        <button class="bg-primary text-white px-4 py-2 sm:rounded-r-md rounded-md sm:rounded-l-none hover:bg-red-700 transition-colors">Subscribe</button>
      </div>
    </div>
  </div>
</div>
