<div class="container mx-auto grid grid-cols-12 items-start gap-y-12 sm:gap-12 text-white">
  <div class="col-span-12 sm:col-span-6 lg:col-span-4 space-y-6">
    <img
      src="/logo_sm_white.png"
      alt="Logo"
      class="h-18 w-auto">
    <div class="flex flex-col space-y-5">
      <div class="text-sm sm:text-base text-white max-w-[374px] leading-6">
        Yayasan Surabaya Mengaji Official adalah sebuah lembaga berbadan hukum, yang bergerak dibidang dakwah, pendidikan, sosial dan muamalah.
      </div>
      <div class="w-full">Jam Operasional:</div>
      <div class="w-full">Social Media:</div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-2 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Quick Links</h3>
    <div class="flex flex-col space-y-4 text-white">
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Hubungi Kami
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Program
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Rekening
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Laporan Keuangan
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Karir
      </a>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-3 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Recent Post</h3>
    <div class="flex flex-col space-y-4 text-white">
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="text-xs">September 14, 2023</p>
          <h4 class="font-bold">
            Lorem ipsum dolor sit amet consectetur contactema....
          </h4>
        </div>
      </div>
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="text-xs">September 14, 2023</p>
          <h4 class="font-bold">
            Lorem ipsum dolor sit amet consectetur contactema....
          </h4>
        </div>
      </div>
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="text-xs">September 14, 2023</p>
          <h4 class="font-bold">
            Lorem ipsum dolor sit amet consectetur contactema....
          </h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-3 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Official Info</h3>
    <div class="flex flex-col space-y-4 text-white">
      <p class>
        Jl. Semampir Tengah No.39, Sukolilo, Kec. Semampir, Surabaya, Jawa Timur 60119
      </p>
      <div class="flex flex-col space-y-3">
        <!-- <UInput type="text" size="lg" placeholder="Enter your email" />
                <UButton block size="lg">Subscribe</UButton> -->
      </div>
    </div>
  </div>
</div>
