<div class="max-w-7xl mx-auto grid grid-cols-12 items-start sm:gap-12 text-white px-6">
  <div class="col-span-12 sm:col-span-6 lg:col-span-4 space-y-6">
    <img
      src="/logo_sm_white.png"
      alt="Logo"
      class="h-18 w-auto">
    <div class="flex flex-col space-y-5">
      <div class="text-sm sm:text-base text-white max-w-[374px] leading-6">
        Yayasan Surabaya Mengaji Official adalah sebuah lembaga berbadan hukum, yang bergerak dibidang dakwah, pendidikan, sosial dan muamalah.
      </div>
      <div class="flex items-center gap-6">
        <img
          src="/icons/clock.svg"
          alt="icon-phone"
          class="size-12 object-contain fill-white">
        <div class="flex flex-col">
          <span class="text-sm sm:text-base">Senin - Jumat</span>
          <span class="text-sm sm:text-base">08.00 - 16.00 WIB</span>
        </div>
      </div>
      <div class="flex items-center gap-5">
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/fb.svg"
            alt="icon-facebook"
            class="size-4 object-contain fill-white">
        </a>
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/ig.svg"
            alt="icon-facebook"
            class="size-4 object-contain fill-white">
        </a>
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/tiktok.svg"
            alt="icon-facebook"
            class="size-4 object-contain fill-white">
        </a>
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/youtube.svg"
            alt="icon-instagram"
            class="size-4 object-contain fill-white">
        </a>
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/tele.svg"
            alt="icon-twitter"
            class="size-4 object-contain fill-white">
        </a>
        <a
          href="#"
          class="col-span-1 size-8 flex items-center justify-center rounded bg-[#1D1E33] hover:bg-primary transition-all duration-700 ease-out scale-100 hover:scale-110">
          <img
            src="/icons/x.svg"
            alt="icon-youtube"
            class="size-4 object-contain fill-white">
        </a>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-2 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Quick Links</h3>
    <div class="flex flex-col space-y-4 text-white">
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Hubungi Kami
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Program
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Rekening
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Laporan
      </a>
      <a
        href="#"
        class="flex items-center before:content-[''] before:w-5 before:h-1 before:bg-[#E72124] before:rounded-full before:mr-3 hover:text-primary">
        Karir
      </a>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-3 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Recent Post</h3>
    <div class="flex flex-col space-y-4 text-white">
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="flex items-center text-xs">
            <img
              src="/icons/calendar.svg"
              alt="icon-calendar"
              class="inline size-3.5 object-contain fill-white mr-1">
            <span class>September 14, 2023</span>
          </p>
          <h4 class="font-bold">Lorem ipsum dolor contactema....</h4>
        </div>
      </div>
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="flex items-center text-xs">
            <img
              src="/icons/calendar.svg"
              alt="icon-calendar"
              class="inline size-3.5 object-contain fill-white mr-1">
            <span class>September 14, 2023</span>
          </p>
          <h4 class="font-bold">Lorem ipsum dolor contactema....</h4>
        </div>
      </div>
      <div class="flex items-center space-x-3">
        <img
          src="/dummy-artikel.webp"
          alt="dummy-news"
          class="rounded w-16 h-16 object-cover">
        <div class="space-y-2">
          <p class="flex items-center text-xs">
            <img
              src="/icons/calendar.svg"
              alt="icon-calendar"
              class="inline size-3.5 object-contain fill-white mr-1">
            <span class>September 14, 2023</span>
          </p>
          <h4 class="font-bold">Lorem ipsum dolor contactema....</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="col-span-12 sm:col-span-6 lg:col-span-3 space-y-6">
    <h3 class="relative text-xl font-bold after:w-[6px] after:h-[6px] after:bottom-0 after:inline-block after:bg-primary after:ml-1 after:rounded-full after:content-['']">Official Info</h3>
    <div class="flex flex-col space-y-4 text-white">
      <p class>
        Jl. Semampir Tengah No.39, Sukolilo, Kec. Semampir, Surabaya, Jawa Timur 60119
      </p>
      <div class="flex items-center gap-3 bg-[#1D1E33] p-[10px] rounded-lg">
        <div class="bg-red-500 flex h-full rounded-[5px] px-3.5 py-3">
          <img
            src="/icons/envelope.svg"
            alt="icon-envelope"
            class="size-8 object-contain">
        </div>
        <div class="flex flex-col space-y-0.5">
          <span class="font-medium">E-mail:</span>
          <span>info@yayasan.com</span>
        </div>
      </div>
      <div class="flex items-center gap-3 bg-[#1D1E33] p-[10px] rounded-lg">
        <div class="bg-red-500 flex h-full rounded-[5px] px-3.5 py-3">
          <img
            src="/icons/phone.svg"
            alt="icon-phone"
            class="size-8 object-contain">
        </div>
        <div class="flex flex-col space-y-0.5">
          <span class="font-medium">Phone:</span>
          <span>+62 123 4567 890</span>
        </div>
      </div>
    </div>
  </div>
</div>
