<div class="2xl:container 2xl:mx-auto 2xl:p-6">
  <div class="2xl:rounded-[50px] bg-[#04041D] text-white">
    <div class="max-w-7xl mx-auto px-6 py-16 lg:py-20">
      <!-- Header -->

      <div class="grid grid-cols-1 lg:grid-cols-2 gap-16 items-center">
        <!-- Left section - Image collage -->
        <div class="relative w-full before:content-[''] before:absolute before:-top-4 before:-left-4 before:w-20 before:h-20 before:bg-gradient-to-br before:from-orange-200 before:to-orange-300 before:rounded-full before:opacity-20 before:-z-10">

          <!-- 2 Columns Layout -->
          <div class="grid grid-cols-2 gap-6 h-full">

            <!-- Left Column - 2 Rows -->
            <div class="space-y-6">
              <!-- Top left image - smaller and right-aligned -->
              <div class="w-4/5 h-44 transform transition-transform duration-300 ml-auto">
                <img
                  src="/keg3.png"
                  alt="Children at window"
                  class="w-full h-full object-cover rounded-3xl shadow-2xl">
              </div>

              <!-- Bottom left image - larger and full width -->
              <div class="w-full h-64 transform transition-transform duration-300">
                <img
                  src="/keg1.jpg"
                  alt="Child studying"
                  class="w-full h-full object-cover rounded-3xl shadow-2xl">
              </div>
            </div>
            <!-- Right Column - 2 Rows -->
            <div class="space-y-6 pt-8">
              <!-- Top right image - taller -->
              <div class="w-full h-64 transform transition-transform duration-300">
                <img
                  src="/keg2.jpg"
                  alt="Child portrait"
                  class="w-full h-full object-cover rounded-3xl shadow-2xl">
              </div>

              <!-- Stats card - bottom right -->
              <div class="w-full h-44 transform transition-transform duration-300">
                <img
                  src="/keg2.jpg"
                  alt="Child portrait"
                  class="w-full h-full object-cover rounded-3xl shadow-2xl">
              </div>

            </div>
            <div class="absolute h-full w-full flex items-center justify-center">
              <img
                src="/wtp.webp"
                alt="wtp Icon"
                width="140"
                class="object-cover animate-pulse">
            </div>
          </div>
        </div>

        <!-- Right section - Content -->
        <div class="space-y-5">
          <div>
            <div class="flex items-center gap-3 mb-4">
              <div class="relative h-[2px] w-16 bg-primary before:content-[''] before:absolute before:right-0 before:top-1/2 before:w-2 before:h-2 before:bg-primary before:transform before:-translate-y-1/2 before:rotate-45"></div>
              <span class="text-primary capitalize text-4xl font-bold font-caveat tracking-wide">Yuk Kesempatan Amal Jariyah!</span>
            </div>
            <h2 class="text-4xl lg:text-5xl font-bold leading-tight font-nunito">
              Bantu Operasional Dakwah
              <span class="font-bold text-primary">YSMO</span>
            </h2>
          </div>
          <!-- Description -->
          <p class="text-lg leading-relaxed font-nunito">
            Dengan semangat “Bersama Berdakwah, Bersama Beramal”, YSMO mengajak Anda ikut menebar manfaat di bidang:
          </p>

          <!-- CARD - 2x2 Layout -->
          <div class="grid grid-cols-2 gap-8 my-10">
            <!-- Card 1 -->
            <div class="col-span-2 sm:col-span-1 flex items-center gap-5">
              <div class="relative flex items-center justify-center size-11 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-white before:rounded-xl before:transition-all before:duration-500 before:ease-linear before:rotate-[45deg]">
                <img
                  src="/icons/graduate.svg"
                  alt="Donation Icon"
                  width="23"
                  class="object-contain z-10">
              </div>
              <span class="text-xl font-bold">Pendidikan</span>
            </div>

            <!-- Card 2 -->
            <div class="col-span-2 sm:col-span-1 flex items-center gap-5">
              <div class="relative flex items-center justify-center size-11 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-white before:rounded-xl before:transition-all before:duration-500 before:ease-linear before:rotate-[45deg]">
                <img
                  src="/icons/star.svg"
                  alt="Donation Icon"
                  width="23"
                  class="object-contain z-10">
              </div>
              <span class="text-xl font-bold">Dakwah</span>
            </div>

            <!-- Card 3 -->
            <div class="col-span-2 sm:col-span-1 flex items-center gap-5">
              <div class="relative flex items-center justify-center size-11 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-white before:rounded-xl before:transition-all before:duration-500 before:ease-linear before:rotate-[45deg]">
                <img
                  src="/icons/hand-holding.svg"
                  alt="Donation Icon"
                  width="23"
                  class="object-contain z-10">
              </div>
              <span class="text-xl font-bold">Sosial</span>
            </div>

            <!-- Card 4 -->
            <div class="col-span-2 sm:col-span-1 flex items-center gap-5">
              <div class="relative flex items-center justify-center size-11 before:content-[''] before:absolute before:top-0 before:left-0 before:bottom-0 before:right-0 before:bg-white before:rounded-xl before:transition-all before:duration-500 before:ease-linear before:rotate-[45deg]">
                <img
                  src="/icons/pc.svg"
                  alt="Donation Icon"
                  width="23"
                  class="object-contain z-10">
              </div>
              <span class="text-xl font-bold">Multimedia</span>
            </div>
          </div>

          <p class="text-lg leading-relaxed font-nunito">
            Dukungan Anda —
            <span class="font-bold text-primary">sekecil apa pun</span>
            — menjadi bagian penting dalam menjaga keberlangsungan kegiatan dakwah ini.
          </p>
          <!-- CTA Section -->
          <div class="flex flex-col sm:flex-row items-start sm:items-center gap-6">
            <button class="bg-primary text-white px-8 py-4 rounded-full font-semibold text-lg flex items-center gap-2">
              Jelajahi Sekarang
              <span>→</span>
            </button>

            <div class="flex items-center gap-4">
              <div class="bg-yellow-500 p-3 rounded-full shadow-lg">
                <svg
                  class="w-6 h-6 text-white"
                  fill="currentColor"
                  viewBox="0 0 24 24">
                  <path d="M6.62 10.79C8.06 13.62 10.38 15.94 13.21 17.38L15.41 15.18C15.69 14.9 16.08 14.82 16.43 14.93C17.55 15.3 18.75 15.5 20 15.5C20.55 15.5 21 15.95 21 16.5V20C21 20.55 20.55 21 20 21C10.61 21 3 13.39 3 4C3 3.45 3.45 3 4 3H7.5C8.05 3 8.5 3.45 8.5 4C8.5 5.25 8.7 6.45 9.07 7.57C9.18 7.92 9.1 8.31 8.82 8.59L6.62 10.79Z"></path>
                </svg>
              </div>
              <div>
                <div class="text-sm">Hubungi kami:</div>
                <div class="font-bold text-lg">+62 812 3456 7890</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
