<div class="bg-gray-800 text-white py-2 px-4">
  <div class="flex justify-between items-center text-sm">
    <div class="flex space-x-4">
      <div class="flex items-center space-x-1">
        <span class="material-symbols-outlined text-[16px]">phone</span>
        <span>+62 812-3456-7890</span>
        <span class="material-symbols-outlined text-[16px]">email</span>
        <span>info@example.com</span>
      </div>
    </div>
    <div class="flex space-x-4">
      <a
        href="#"
        class="hover:text-gray-400">
        Login
      </a>
      <a
        href="#"
        class="hover:text-gray-400">
        Register
      </a>
    </div>
  </div>
</div>
